.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ag-theme-quartz {
  --ag-foreground-color: #55575E;
  --ag-background-color: #E1EBFF;
  --ag-header-foreground-color: #55575E;
  --ag-header-background-color: #ffffff;
  --ag-row-border-color: #ffffff;
  --ag-border-color: #ffffff;
  --ag-font-size: 0.5rem;
  --ag-grid-size: 0rem;
  --ag-row-height: 1rem;
}

.ag-subtitle {
  --ag-foreground-color: #ffffff;
  --ag-background-color: #455A85;
  --ag-row-border-color: #ffffff;
  --ag-border-color: #ffffff;
  --ag-font-size: 0.7rem;
}

.ag-fixed {
  --ag-foreground-color: #ffffff;
  --ag-background-color: #6D98EB;
  --ag-row-border-color: #ffffff;
  --ag-border-color: #ffffff;
}

.center-aligned-group-header .ag-header-group-cell-label {
  justify-content: center;
}